@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

input {
    outline: none;
}

html {
    background-color: #fff;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 170%;
    color: #000;
    scroll-behavior: smooth;
}

.body--top {
    padding-top: 133px;
}

section {
    position: relative;
    margin-bottom: 150px;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1710px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    font-family: 'Nunito';
    font-size: clamp(1.95rem, 0.2174rem + 4.2572vw, 4.6875rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.header {
    position: relative;
    width: 100%;
    max-width: 1710px;
    margin: 0 auto;
}

.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    max-width: 100%;
    backdrop-filter: blur(10px);
    background-color: #ffffff91;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 0;
    transition: 0.3s all;
}

.header--fixed .header__box {
    padding: 15px 0;
}

.header__box__items {
    display: flex;
    align-items: center;
    gap: 10%;
}

.logo {
    max-width: clamp(5.1875rem, 0.8505rem + 12.0471vw, 13.5rem);
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 80px;
}

.menu__link {
    position: relative;
    display: flex;
    font-family: 'Nunito';
    font-size: clamp(1rem, -0.25rem + 1.6667vw, 1.5rem);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(0.4375rem, 0.0788rem + 0.9964vw, 1.125rem) clamp(1.25rem, 0.2717rem + 2.7174vw, 3.125rem);
    background-color: #5F40D3;
    border-radius: 100px;
    color: #FFF;
    font-family: 'Nunito';
    font-size: clamp(1rem, -0.25rem + 1.6667vw, 1.5rem);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    transition: 0.3s all;
}

.hero {
    margin-top: 150px;
}

.hero__box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    font-size: clamp(1.95rem, 0.2174rem + 4.2572vw, 4.6875rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.hero__box h1 {
    display: block;
    max-width: clamp(61.5625rem, -16.0625rem + 86.25vw, 74.5rem);
    text-align: center;
}

.hero__box span {
    color: #5F40D3;
}

.work {
    scroll-margin-top: 5rem;
}

.work__box {
    display: grid;
    grid-template-columns: 55% auto;
    align-items: center;
    gap: 40px 20px;
}

.work__box__video {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/work__img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: clamp(18.6875rem, 5.3606rem + 37.0192vw, 33.125rem);
    border-radius: 50px;
    border: 4px solid #5F40D3;
}

.work__box__video::before {
    position: absolute;
    top: -18px;
    left: -12px;
    content: '';
    width: calc(100% + 26px);
    height: calc(100% + 36px);
    border-radius: 50px;
    border: 5px solid #CCC;
}

.work__box__video p {
    display: flex;
    font-family: 'Nunito';
    font-size: clamp(1.075rem, 0.1576rem + 1.9928vw, 2.25rem);
    line-height: normal;
    padding-bottom: clamp(1.6875rem, 0.5625rem + 3.125vw, 2.5rem);
    color: #5F40D3;
}

.work__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(2.075rem, 0.2446rem + 4.529vw, 5rem);
    height: clamp(2.075rem, 0.2446rem + 4.529vw, 5rem);
    background-color: #5F40D3;
    border-radius: 50%;
}

.work__link__btn {
    display: flex;
    width: clamp(0.95rem, 0.163rem + 1.6304vw, 1.875rem);
    height: clamp(0.95rem, 0.1223rem + 2.2645vw, 2.5rem);
    background-color: #FFF;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    margin-left: clamp(0.3125rem, 0.1042rem + 0.5787vw, 0.625rem);
}

.work__box__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: clamp(1.20rem, 0.4783rem + 1.4493vw, 2rem);
    line-height: normal;
}

.work__box__inner .section-title {
    text-align: center;
}

.work__box__inner span {
    color: #5F40D3;
    font-weight: 700;
}

.work__box__inner__link,
.fantastic__box__link {
    display: block;
    font-family: 'Nunito';
    font-size: clamp(1rem, 0.5489rem + 0.9058vw, 1.5rem);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    color: #FFF;
    padding: clamp(0.4375rem, 0.0788rem + 0.9964vw, 1.125rem) clamp(1.25rem, 0.2717rem + 2.7174vw, 3.125rem);
    background-color: #5F40D3;
    transition: 0.3s all;
    border-radius: 100px;
    border: 1px solid #5F40D3;
    max-width: fit-content;
}

.features {
    scroll-margin-top: 5rem;
}

.features__head {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.features__head h2 {
    display: block;
    max-width: clamp(61.5625rem, -16.0625rem + 86.25vw, 74.5rem);
    text-align: center;
}

.features__head span {
    color: #5F40D3;
    font-weight: 700;
}

.features__head::after {
    content: '';
    position: absolute;
    top: 0;
    width: 116px;
    height: 4px;
    background-color: #5F40D3;
}

.features__head::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 116px;
    height: 4px;
    background-color: #5F40D3;
}

.features__box {
    display: grid;
    grid-template-columns: 48% auto;
    gap: 40px 14%;
    padding-top: 100px;
}

.features__box span {
    color: #5F40D3;
}

.features__box__items p {
    display: block;
    font-size: clamp(1.20rem, 0.4783rem + 1.4493vw, 2rem);
    line-height: 170%;
    padding-top: 30px;
}

.features__tabs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.features__tabs__items__btn {
    position: relative;
    display: block;
    background-color: transparent;
    font-family: 'Nunito';
    font-size: clamp(1.25rem, 0.625rem + 0.8333vw, 1.5rem);
    font-weight: 700;
    line-height: 138%;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s all;
    text-align: left;
}

.features__tabs__items__content {
    display: block;
    height: 0;
    opacity: 0;
    transition: 0.3s all;
}

.features__tabs__items__content p {
    border-radius: 24px;
    background: rgb(242, 242, 242);
    font-size: clamp(1.25rem, 0rem + 1.6667vw, 1.75rem);
    font-weight: 400;
    line-height: 170%;
}

.features__tabs__items__content--active {
    display: block;
    height: fit-content;
    opacity: 1;
}

.features__tabs__items__content--active p {
    padding: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
    margin-top: 25px;
}

.features__tabs__items__btn--active::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5F40D3;
}

.priority__head {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 64px 0 100px;
}

.priority__head::before {
    content: '';
    position: absolute;
    top: 0;
    width: 116px;
    height: 4px;
    background-color: #5F40D3;
}

.priority__head h2 {
    display: block;
    max-width: clamp(46.5rem, -12rem + 65vw, 56.25rem);
    ;
    text-align: center;
}

.priority__head span {
    color: #5F40D3;
    font-weight: 700;
}

.priority__box {
    display: flex;
    max-width: 1065px;
    margin: 0 auto;
}

.fantastic {
    scroll-margin-top: 5rem;
}

.fantastic__box {
    display: grid;
    grid-template-columns: 61% auto;
    gap: 40px 0;
    border-radius: 40px;
    background: rgb(242, 242, 242);
    padding: clamp(3.75rem, 1.9477rem + 2.907vw, 5rem) clamp(0.9375rem, -8.5247rem + 15.2616vw, 7.5rem);
}

.fantastic__box__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fantastic__box__inner span {
    color: #5F40D3;
}

.fantastic__box__inner p {
    display: block;
    max-width: 70%;
    font-size: clamp(1.20rem, 0.4783rem + 1.4493vw, 2rem);
    line-height: 170%;
}

.fantastic__img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: clamp(37.9375rem, -4.327rem + 68.1686vw, 67.25rem);
    height: auto;
}

.fantastic__box__link {
    margin-top: clamp(9.375rem, 4.8692rem + 7.2674vw, 12.5rem);
}

.footer__box {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 30px 5%;
    padding-bottom: 60px;
}

.copy {
    color: rgb(161, 161, 161);
    font-size: clamp(1rem, 0.2791rem + 1.1628vw, 1.5rem);
    font-family: 'Nunito';
    font-weight: 700;
    line-height: 137%;
    text-transform: uppercase;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.footer__menu__link {
    position: relative;
    display: flex;
    color: #000;
    font-family: 'Nunito';
    font-size: clamp(1rem, 0.2791rem + 1.1628vw, 1.5rem);
    font-weight: 700;
    line-height: 137%;
    text-transform: uppercase;
}

.modal-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 30, 27, 0.70);
    z-index: 9999;
}

.modal-video--open {
    display: block;
}

.modal-video__content {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal-video__content__item {
    width: 100%;
    height: calc(100% - 30px);
    max-width: 100%;
    max-height: 100%;
}

.modal-video__link {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
}

.modal-video__link svg {
    width: 64px;
    height: 64px;
    fill: #fff;
}

.modal__form {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal__form__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    max-width: 576px;
    padding: clamp(0.625rem, -0.0272rem + 1.8116vw, 1.875rem);
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
}

.modal__form__box h6 {
    display: block;
    font-family: 'Nunito';
    padding-bottom: 10px;
    color: #000;
    font-weight: 700;
    font-size: clamp(1.125rem, -0.1366rem + 2.0349vw, 2rem);
    line-height: 170%;
}

.modal__form__box h6 span {
    color: #5F40D3;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.contact__form__items {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contact__form__label {
    display: flex;
    color: #000;
    font-size: clamp(0.875rem, -0.0262rem + 1.4535vw, 1.5rem);
    line-height: 170%;
}

.contact__form__items:last-child {
    margin-top: 20px;
}

.contact__form__input {
    display: flex;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 8px;
    background-color: transparent;
    font-family: 'Gilroy';
    font-size: clamp(0.875rem, -0.0262rem + 1.4535vw, 1.5rem);
    line-height: 120%;
    padding: 5px;
    width: 100%;
    height: clamp(2.5rem, -0.6541rem + 5.0872vw, 4.6875rem);
}

.contact__form__btn {
    display: block;
    font-family: 'Nunito';
    font-size: clamp(1rem, 0.5489rem + 0.9058vw, 1.5rem);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    color: #FFF;
    padding: clamp(0.4375rem, 0.0788rem + 0.9964vw, 1.125rem) clamp(1.25rem, 0.2717rem + 2.7174vw, 3.125rem);
    background-color: #5F40D3;
    transition: 0.3s all;
    border-radius: 100px;
    border: 1px solid #5F40D3;
    max-width: fit-content;
    cursor: pointer;
}

.form--error{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 150%;
    color: #008000;
}
.form--error--warning{
    color: #ff0000;
}

@media (min-width: 1200px) {

    .header__btn:hover,
    .work__box__inner__link:hover,
    .fantastic__box__link:hover,
    .contact__form__btn:hover {
        background-color: #FFF;
        border: 1px solid #5F40D3;
        color: #000;
    }

    .menu__link:hover::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #5F40D3;
    }

    .features__tabs__items__btn:hover::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #5F40D3;
        transition: 0.3s all;
    }
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    /* Menu mobile*/

    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        z-index: 999;
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: #5F40D3;
        transform: translate3d(420px, 0px, 0px);
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        gap: 20px;
    }

    .menu__list__link {
        color: #fff;
        padding: 0;
    }

    .menu__list--active {
        transform: translate3d(0px, 0px, 0px);
        padding: 35px 0 0 35px;
        writing-mode: horizontal-tb;
    }

    .menu__btn {
        position: absolute;
        right: 15px;
        background-color: transparent;
        cursor: pointer;
        padding-right: 15px;
    }

    .menu__btn--close {
        position: absolute;
        right: 15px;
        top: 30px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 1000;
    }

    .menu__btn__element,
    .menu__btn__element:before,
    .menu__btn__element:after {
        position: absolute;
        top: 80%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #000;
    }

    .menu__btn__element:before,
    .menu__btn__element:after {
        content: '';
        display: block;
        transition: 0.5s;
    }

    .menu__btn__element:before {
        transform: translateY(-8px);
    }

    .menu__btn__element:after {
        transform: translateY(8px);
    }

    .menu__btn__element--close {
        height: 0;
    }

    .menu__btn__element--close:before {
        transform: rotate(45deg);
        background-color: #fff;
    }

    .menu__btn__element--close:after {
        transform: rotate(-45deg);
        background-color: #fff;
    }

    .menu__list__items--mobile {
        display: flex;
    }

    .menu__btn--close .menu__btn__element {
        top: 50%;
    }

    .menu__link {
        color: #fff;
    }

    /* Menu mobile */

    .header__box {
        padding-top: 35px;
    }

    .header__box__items:last-child {
        padding-right: 60px;
    }

    .work__box {
        grid-template-columns: auto;
    }

    .work__box__video {
        max-width: 100%;
        min-height: auto;
        padding: clamp(2.8125rem, 1.0847rem + 4.8077vw, 4.0625rem) 0;
    }

    .fantastic__box {
        grid-template-columns: auto;
        padding-bottom: 0;
    }

    .fantastic__img {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    .fantastic__box__inner p {
        max-width: 100%;
    }

    .fantastic__box__link {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .features__box {
        grid-template-columns: auto;
    }

    .footer__box {
        grid-template-columns: auto;
        padding-bottom: 35px;
    }

    .footer__box .logo {
        max-width: 50%;
    }
}

@media (max-width: 575px) {
    section {
        margin-bottom: 100px;
    }

    .header__box__items:last-child {
        padding-right: 30px;
    }

    .hero {
        margin-top: 100px;
    }

    .features__box {
        padding-top: 67px;
    }

    .features__head {
        padding: 32px 0;
    }

    .priority__head {
        padding-top: 32px;
        padding-bottom: 67px;
    }

    .modal-video__link svg {
        width: 32px;
        height: 32px;
    }
}