@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,*::before,*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
input {
    outline:none;
}
html{
    background-color: #fff;
    scroll-behavior: smooth;
}
body{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 170%;
    color: #000;
    scroll-behavior: smooth;
}
section{
    position: relative;
    margin-bottom: 150px;
}
.wrapper{
    position: relative;
    width: 100%;
    max-width: 1710px;
    padding: 0 15px;
    margin: 0 auto;
}